* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

.background {
  background-image: url(/assets/banner2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  
  background-position: center;
}
.background.active {
  background-image: url(/assets/banner.png);
}

.background.image1 {
  background-image: url(/assets/banner3.jpeg);
}

.background.image2 {
  background-image: url(/assets/banner4.jpeg);
}

.background.image3 {
  background-image: url(/assets/banner5.jpeg);
}


.color_banner {
  background-color: #546a3e88;
  color: #ffffff;
}
#banner_content {
  padding: 10% 0 15% 6%;
}
#banner_content {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 47px;
}
#banner_content h2 {
  font-size: 47px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
#banner_content p {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}
#heading {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  color: #181111;
  text-align: center;
}
#paragraph {
  font-size: 38px;
  font-family: "Noto Sans JP", sans-serif;
  color: #181111;
}
.small_paragraph {
  font-size: 18px;
  color: #181111;
  font-family: "Roboto", sans-serif;
}
.btn {
  background-color: #88a234;
  color: #ffffff;
}
.btn:hover {
  color: #ffffff;
}
#acticity_h {
  font-size: 57px;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  color: #303030;
}
#img {
  width: 300px;
  height: 400px;
}
#star {
  font-size: 38px;
  color: #303030;
  font-family: "Roboto", sans-serif;
}
.fa {
  font-size: 50px;
  color: #3030306c;
}
.star_btn {
  margin-top: 50px;
}
.img {
  width: 350px;
  height: 300px;
}
.s-flex {
  display: flex;
  justify-content: space-between;
}
#img_mission {
  width: 297px;
}
.banner_container {
  background-color: #016fb1;
}
#banner_p {
  font-size: 22px;
  color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}
.contaent_banner {
  margin: 100px 0 0 100px;
}
#banner_h {
  font-size: 38px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.color_btn {
  margin: auto;
  background-color: #88a234;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#footer_h {
  color: #ffffff;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff;
}
#footer_p {
  color: #ffffff;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
}
hr {
  border-bottom: 2px solid #ffffff;
}
#information {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
#d_h {
  font-size: 14px;
  color: #303030;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
